.button {
  appearance: none;
  background: none;
  font-size: 1.5em;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: var(--default-text-color);
  padding-bottom: 4px;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.15s;
}

.button .subtitle {
  font-size: .5em;
  color: var(--default-subtext-color);
}

.button.needsRequirements .requirements {
  color: var(--default-highlight-color);
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 8px;
}

.button:hover {
  border: 2px solid rgba(var(--default-highlight-color-s), 0.4);
}

.loadingButton {
  position: relative;
  margin-left: 8px;
  user-select: none;
}

.button.loadingButton.disabled {
  color: rgb(var(--default-disabled-color-s), .4);
  border: 2px solid transparent;
  cursor: default;
}

.button.loadingButton.needsRequirements {
  color: rgb(var(--default-disabled-color-s), .4);
  border: 2px solid transparent;
  cursor: default;
}

.enabled {
  background-color: rgba(var(--default-highlight-color-s), 0.2);
  width: 0%;
  transition: 0s !important;
}