:root {
  --default-text-color-s: 220, 220, 220;
  --default-text-color: rgb(var(--default-text-color-s));
  --default-highlight-color-s: 255, 255, 255;
  --default-highlight-color: rgb(var(--default-highlight-color-s));
  --default-disabled-color-s: 150, 150, 150;
  --default-disabled-color: rgb(var(--default-diabled-color-s));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
